.navbar-style{
background-color: rgba(255, 184, 91, 0.904);
}
.logo-image-style{
  height: 50px;
  width: 50px;
  
}
*{
  font-family: 'Times New Roman', Times, serif;
}
.logo-text-style{
  margin: -21px 0px 0px 50px;
}
